<!DOCTYPE html>
<html>
    <head>
<link type="text/css" rel="stylesheet" media="screen" href="http://localhost/~mitcheet/librware/static/js/jqt/jqtouch/jqtouch.css">
<link type="text/css" rel="stylesheet" media="screen" href="http://localhost/~mitcheet/librware/static/css/libmobile.css">
<link type="text/css" rel="stylesheet" media="screen" href="http://localhost/~mitcheet/librware/static/js/jqt/themes/apple/theme.css">
<script type="text/javascript" src="http://localhost/~mitcheet/librware/static/js/jquery.js"></script>
<script type="text/javascript" src="http://localhost/~mitcheet/librware/static/js/jqt/jqtouch/jqtouch.js"></script>
<script type="text/javascript" src="http://localhost/~mitcheet/librware/static/js/local.js"></script>


    <title>{{ library.libraryName }}</title>
    </head>
    <body>
        <div id="home" class="current">
            <div class="toolbar">
	   <img src="http://localhost/~mitcheet/librware/static/img/zsr.cupola.57x57.png" height="25px" width="25px"/> <a class="button flip" href="#about">About</a>
                <h1>{{ library.libraryName }}</h1>
            </div>
  	   <form id="catalog">
                <ul class="edit rounded">
                    <li><input type="text" name="lookfor" placeholder="Search" id="searchtext" />
		    <input type="hidden" name="urlbase" value="{{ library.defaultSearchBase }}" id="urlbase"/>
		    </li>
		</ul>
		</form>
	    <ul class="forward" id="search">
		<a href="{{ news.link }}" target="_blank"><li><img src="http://localhost/~mitcheet/librware/static/{{ library.defaultFeedIdon }}" height="40" width="40"/>{{ news.title }}</li></a>
		</ul>
            <ul class="rounded">
                <li class="forward"><a href="#contact">Contact</a></li>
                <li class="forward"><a href="#hours">Hours</a></li>
		<li class="forward"><a href="#whatsNew">What's New</a></li>
		<li class="forward"><a href="#locations">Locations</a></li>
            </ul>
   <h2>External Links</h2>
            <ul class="rounded">
		{% for externalLinks in library.externallinks_set.all %}
		<li class="forward"><a href="{{ externalLinks.linkURI }}" target="_blank">{{ externalLinks.linkText }}</a></li>
		{% endfor %}
       	</ul>
	<div class="info"> </div>
	</div>
        <div id="contact">
            <div class="toolbar">
                <h1>Contact us</h1>
                <a class="button back" href="#">Back</a>
            </div>
             <ul class="rounded">
		{% for contact in library.contact_set.all %}
                <li class="sep">{{ contact.contactName }}</li>
                <li><a target="_blank" href="tel:{{ contact.contactPhone }}">Call - {{ contact.contactPhone }}</a></li>
                <li><a target="_blank" href="mailto:{{ contact.contactEmail }}">{{ contact.contactEmail }}</a></li>
                <li><a href="sms:{{ contact.contactSMS }}" target="_blank">Text - {{ contact.contactSMS }}</a></li>
		{% endfor %}
              </ul>	
	   <div class="info"></div>
        </div>
        <div id="hours">
            <div class="toolbar">
                <h1>Hours</h1>
            </div>
               <a class="button back" href="#">Back</a>
            <div>
		{%for hours in library.hours_set.all %}
			<ul class="rounded">
				<li class="sep"<h2>{{ hours.hoursName }}</li>
				<li>{{ hours.hoursText1 }}</li>
				<li>{{ hours.hoursText2 }}</li>
				<li>{{ hours.hoursText3 }}</li>
				<li>{{ hours.hoursText4 }}</li>
			</ul>	
		{% endfor %}
       	</div>
        </div>
<div id="whatsNew">
    <div class="toolbar">
       <h1>What's New</h1>
        <a class="button back" href="#">Back</a>
    </div>
    <ul id="feeditems" class="edgetoedge">
	{%for feed in library.feed_set.all %}
        	<li class="arrow"><a href="#{{ feed.id }}">{{ feed.feedName }}</a></li>
	{% endfor %}
        </ul>
	<div class="info"> </div>
</div>

{% for feeddiv in library.feed_set.all %}
<div class="testfeed" id="{{ feeddiv.id }}">
    <div class="toolbar">
        <h1>{{ feeddiv.feedName }}</h1>
        <a class="button back" href="#">Back</a>
    </div>
       <ul>loading ...</ul>
<div class="info"></div>
</div>
{% endfor %}

<div id="about">
    <div class="toolbar">
        <h1>About the Library</h1>
         <a class="button back" href="#">Back</a>
    </div>
    <ul><li class="rounded"><p><img src="http://localhost/~mitcheet/librware/static/{{ library.libraryImage }}"/>{{ library.libraryAbout }}</p>
	</li></ul>
</div>
<!--
<div id="search">
	<div class="toolbar">
		<h1>Catalog search</h1>
		<a class="button back" href='#'>Back</a>
	</div>
	<ul><li>Loading . . .</li></ul>
</div>
-->
<div id="locations">
    <div class="toolbar">
        <h1>Locations</h1>
        <a class="button back" href="#">Back</a>
    </div>

<ul class="rounded">
{% for location in library.location_set.all %}
	<li><a target="_blank" href="http://maps.google.com/maps?q={{ location.locationURI }}">{{ location.locationName }}</a>
{% endfor %}
<li><img src="http://maps.google.com/maps/api/staticmap?center=&zoom=16&size=280x400&maptype=roadmap&sensor=false{% for location in library.location_set.all %}&markers=color:{{ location.locationMarkerColor }}|label:{{ location.locationMarkerLabel }}|{{ location.locationURI }}{% endfor %}"/></li></ul></div>

</body>
</html>
<!--
<h1>{{ library.libraryName }} </h1>
<ul>
{% for feed in library.feed_set.all%}
<li>{{ feed.feedName }} </li>
{% endfor %}
</ul>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/polls/{{ object.id }}/vote/" method="post">
{% csrf_token %}
{% for choice in object.choice_set.all %}
	<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
	<label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br/>
{% endfor %}
<input type="submit" value="vote" />
</form>
<ul>
{% for choice in object.choice_set.all %}
	<li>{{ choice.choice }}</li>
{% endfor %}
</ul> -->
